{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Bienvenue {{ app.user.pseudo }}!</h1>
<p>{{ app.user.email }}</p>

{% for projet in projets %}
    <div>
        <h2>Mes projets</h2>
        <a href="{{ path('app_categorie', {'projetId': projet.id}) }}" class="btn btn-primary">{{ projet.titre }}</a>
    </div>
{% endfor %}

{% endblock %}
