* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0 !important;
}

/* Add the new logo CSS rules here */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-part {
    margin: 0 10px;
}

.logo .tusk {
    font-size: 24px;
    font-weight: bold;
}

.logo .manager {
    font-size: 16px;
}

.navbar-logo {
    height: 50px; /* Adjust the height as needed */
    margin-right: 0px; /* Space between logo and menu items */
    margin-left: 0px; /* Space between logo and menu items */
    margin-bottom: 5px;
}

nav {
    background-color: #0E2F56; /* Adjusted to a dark blue from the logo */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically */
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px; /* Space between menu items */
}

nav ul li a, .auth-links a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.auth-links {
    display: flex;
    align-items: center;
}

.auth-links a:not(:last-child) {
    margin-right: 10px; /* Space between auth links */
}

nav ul li a:hover, .auth-links a:hover {
    /* background-color: #0c2645; */
    opacity: 0.5;
}

.logo-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent elements */
}

.logo-link:hover {
    /* You can add hover effects if you like, such as changing the opacity */
    opacity: 0.8;
}

