body {
    overflow-x: hidden;
    max-height: 100vh; /* Maximum height is the viewport height */
}

.container {
    display: flex;
    height: calc(100vh - 68px)
}

.categories {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-start; /* Align categories to the start of the container */
    padding: 10px;
    
}

.categorie {
    border: 1px solid #ddd;
    padding: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    max-height: 90vh; /* Maximum height of each category */
    overflow-y: auto; /* Vertical scrollbar for each category */
    min-width: 350px; 
    max-width: 350px;
    align-self: flex-start; /* Allow each category to grow independently */

}

.tasks {
    overflow-y: auto; /* Allow scrolling within tasks if they exceed their container height */
    flex-grow: 1; /* Allow task container to grow based on content */
    padding-right: 10px; /* Space between tasks and the scrollbar */
    margin-right: -10px; /* Offset the added padding to maintain container width */
    /* width: 100%; */
}

.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    line-break: anywhere;
}

/* Styling for WebKit browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #aaa; /* Color of the track */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #777; /* Color of the scrollbar itself */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovered */
}

/* Styling for Firefox */
* {
    scrollbar-width: thin; /* 'auto', 'thin', 'none' */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
}
