body {
    overflow-x: hidden;
    max-height: 100vh; 
}

.container {
    display: flex;
    height: calc(100vh - 70px)
}

.categories {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-start; 
    padding: 10px;
    
}

.categorie {
    border: 1px solid #ddd;
    padding: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    max-height: 90vh; 
    overflow-y: auto;
    min-width: 350px; 
    max-width: 350px;
    align-self: flex-start; 
}

.tasks {
    overflow-y: auto; 
    flex-grow: 1; 
    padding-right: 10px; 
    margin-right: -10px; /
    
}

.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    line-break: anywhere;
}


::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #aaa; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}