* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden; 
    background-color: #0d1b2a !important;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    background-color: #1b263b;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #415a77;
    margin: 10px 0px 15px;
    color: #e0e1dd;
    background-color: #415a77;
    border-radius: 10px;
}

body h1, p, label, .form-check-input + label {
    color: #e0e1dd;
    margin-bottom: 20px;
}

p, form a {
    text-align: center;
    margin-top: 20px;
} 

a {
    color: #778da9;
}

form button {
    background-color: #778da9;
    color: #e0e1dd;
    padding: 10px 20px;
    margin: 30px auto 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
}

form button:hover {
    background-color: #415a77;
}

label, .form-check-input + label {
    font-size: 20px;
    margin-left: 5px;
}

.form-check-input {
    margin: 0 10px 10px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: 5px;
}

::placeholder {
    color: #98a5b6;
}