{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

{% block title %}Liste de Catégories et Tâches{% endblock %}

{% block body %}
    {% if categories is not empty %}
        <div class="categories-container">
            {% for categorie in categories %}
                <div class="category-wrapper">
                    <h1>{{ categorie.titre }}</h1>
                    {% if tachesByCategory is defined and tachesByCategory[categorie.id] is not empty %}
                        <table class="categories-table">
                            {% for tache in tachesByCategory[categorie.id] %}
                                <tr>
                                    <td>
                                        <strong>{{ tache.titre }}</strong><br>
                                        {{ tache.description }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Aucune tâche associée à cette catégorie.</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune catégorie disponible.</p>
    {% endif %}
{% endblock %}