{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <h1>Liste de categories</h1>

    {% for categorie in categories %}
        {{ categorie.titre }}
    {% endfor %}

{% endblock %}
